.post {
  border-radius: 1rem;
  cursor: pointer;
}

.post.card {
  max-width: 300px;
  height: 276px;
}

.post.card .post_image {
  border-radius: 1rem 1rem 0 0;
  height: 176px;
}

.post.card .post_content {
  padding: .5rem 0;
  height: 100px;
}

.post.featured {
  max-width: 500px;
  height: 376px;
  position: relative;
}

.post.featured .post_image {
  border-radius: 1rem;
  position: absolute;
  left: 0;
  top: 0;
}

.post.featured .post_content {
  position: absolute;
  left: 0;
  bottom: 0;
}